@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      57.09deg,
      rgb(10, 10, 13) 28.853%,
      rgb(20, 20, 29) 108.811%
    ),
    rgb(0, 14, 19);
  font-family: SF400, sans-serif;
}

button {
  cursor: pointer;
  border: none;
  transition: all 0.4s ease;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: url(../assets/images/header-bg.png);
  background-size: cover;
  height: 926px;
  background-position: bottom;
  max-width: 1920px;
  margin: 0 auto;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 46px;
}

.nav_calc_btn {
  box-sizing: border-box;
  border: 1px solid rgb(70, 70, 100);
  border-radius: 21.5px;
  height: 43px;
  width: 200px;
  background: linear-gradient(
    47.6deg,
    rgb(47, 47, 67) 3.735%,
    rgb(73, 73, 104) 94.835%
  );
  color: rgb(255, 255, 255);
  font-family: SF400;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  text-align: center;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.call_btn {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.56);
  border-radius: 21.5px;
  color: rgb(255, 255, 255);
  font-family: SF400;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: -2%;
  width: 156px;
  height: 43px;
  text-align: center;
  background: transparent;
}

.header_title h1 {
  font-family: Benzin;
  font-size: 55.62px;
  font-weight: 400;
  line-height: 130.5%;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.header_title h1 span {
  color: rgb(255, 210, 55);
}

.header_title p {
  color: rgb(255, 255, 255);
  font-family: SF400;
  font-size: 23.18px;
  font-weight: 400;
  line-height: 38.89px;
  letter-spacing: -1%;
  text-align: center;
  margin-top: 15px;
}

.header_actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 357px;
  position: relative;
}

.header_btn {
  box-sizing: border-box;
  border-radius: 33px;
  width: 417.15px;
  height: 127.95px;
  box-shadow: 0px 4px 0px 0px rgb(115, 92, 64);
  background: radial-gradient(
      55% 55% at 50% 2%,
      rgba(255, 255, 255, 0.5) 50.611%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      225deg,
      rgb(255, 235, 202) -4.528%,
      rgb(255, 220, 167) 18.446%,
      rgb(255, 217, 160) 51.466%,
      rgb(255, 217, 160) 76.607%,
      rgb(255, 209, 137) 111.929%
    );
  color: rgb(115, 92, 64);
  font-family: SF600;
  font-size: 20.98px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.promo_btn {
  position: relative;
  color: rgb(255, 255, 255);
  font-family: SF400;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -2%;
  text-align: center;
}
.circle {
  background: linear-gradient(
    67.76deg,
    rgb(47, 47, 67) -8.169%,
    rgb(117, 117, 169) 178.235%
  );
  width: 15.56px;
  height: 15.56px;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: -5px;
}
.header_promos .promo_btn:nth-child(1) {
  box-sizing: border-box;
  border-radius: 15.67px;

  background: radial-gradient(
      55% 55% at 50% 2%,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      225deg,
      rgba(74, 74, 97, 0.65) -4.542%,
      rgb(74, 74, 97) 18.429%,
      rgb(30, 30, 44) 51.445%,
      rgb(30, 30, 44) 76.583%,
      rgb(20, 20, 42) 111.9%
    );
  width: 206.63px;
  height: 76.35px;
  margin-left: 98px;
}

.header_promos .promo_btn:nth-child(2) {
  box-sizing: border-box;
  border-radius: 15.84px;
  width: 186.95px;
  height: 57.34px;
  background: radial-gradient(
      55% 55% at 50% 2%,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      225deg,
      rgba(74, 74, 97, 0.65) -4.528%,
      rgb(74, 74, 97) 18.446%,
      rgb(30, 30, 44) 51.466%,
      rgb(30, 30, 44) 76.607%,
      rgb(20, 20, 42) 111.929%
    );
}

.header_promos {
  display: flex;
  flex-direction: column;
  gap: 62px;
  position: absolute;
  top: -140px;
  right: 22px;
}

.advantages {
  padding: 97px 0 51px;
}

.block_title h3 {
  font-family: SF400;
  font-size: 40px;
  font-weight: 400;
  line-height: 74px;
  letter-spacing: -1%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.block_title h2 {
  color: rgb(255, 210, 55);
  font-family: Benzin;
  font-size: 45px;
  font-weight: 400;
  line-height: 74px;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
}

.advantages .block_title {
  margin-bottom: 67px;
}

.adv_cards {
  width: 100%;
  overflow: hidden;
  margin-bottom: 41px;
}

.adv_cards .swiper-slide {
  width: 414.85px !important;
}
.adv_card {
  width: 100%;
  height: 486px;
  box-sizing: border-box;
  border-radius: 41.59px;
  background: url(../assets/images/cards-bg.png);
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.adv_card img {
  width: 352.46px;
  height: 179.51px;
  object-fit: cover;
  background-position: center;
  margin-bottom: 28px;
}

.adv_card h4 {
  color: rgb(255, 255, 255);
  font-family: SF600;
  font-size: 26.27px;
  font-weight: 600;
  line-height: 144%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 21px;
}

.adv_card h4 span {
  color: rgb(255, 235, 164);
}

.adv_card p {
  color: rgb(223, 223, 223);
  font-family: SF400;
  font-size: 19.7px;
  font-weight: 400;
  line-height: 144%;
  letter-spacing: 0%;
  text-align: center;
}

.block_title h2 span {
  color: #fff;
}
.title_sec {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.title_sec p {
  color: rgb(223, 223, 223);
  font-family: SF400;
  font-size: 21px;
  font-weight: 400;
  line-height: 144%;
  letter-spacing: 0%;
  text-align: center;
}
.popular_models {
  padding-top: 94px;
  padding-bottom: 94px;
}

.popular_models .title_sec {
  margin-bottom: 70px;
}

.popular_card {
  width: 375px;
  height: 602px;
  box-sizing: border-box;
  border-radius: 38px;

  background: url(../assets/images/cards-bg-2.png);
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.popular_card_img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 344px;
  margin-bottom: 18px;
}
.popular_cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
.popular_card_desc {
  padding: 0 34px;
}
.popular_card_desc p {
  color: rgb(255, 255, 255);
  font-family: SF400;
  font-size: 23.36px;
  font-weight: 400;
  line-height: 32.31px;
  letter-spacing: -1%;
  text-align: left;
  margin-bottom: 7px;
}

.popular_card_desc h5 {
  color: rgb(255, 235, 164);
  font-family: SF400;
  font-size: 38px;
  font-weight: 400;
  line-height: 61.8px;
  letter-spacing: -1%;
  text-align: left;
  margin-bottom: 23px;
}

.booking_btn {
  width: 100%;
  box-sizing: border-box;
  border-radius: 34.66px;

  box-shadow: 0px 2.17px 0px 1px rgb(34, 34, 69);
  background: url(../assets/images/bgt-bg.png);
  background-position: center;
  background-size: cover;
  height: 69px;
  color: rgb(255, 255, 255);
  font-family: SF600;
  font-size: 15px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.catalogue_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 66px;
}
.catalogue_btn .header_btn {
  width: 494.85px;
}

.about {
  padding: 62px 0 143px 0;
}

.about_content {
  padding-left: 105px;
  margin-top: 45px;
}

.about_text {
  max-width: 572px;
  position: relative;
}

.about_text p {
  color: rgb(223, 223, 223);
  font-family: SF400;
  font-size: 25.8px;
  font-weight: 400;
  line-height: 153%;
  letter-spacing: -2%;
  text-align: left;
}

.about_text p span {
  color: rgb(255, 210, 55);
}

.about_text1 img {
  position: absolute;
  bottom: 5px;
  left: 180px;
}
.about_text1 {
  margin-bottom: 50px;
}
.about_text2 {
  margin-left: 62px;
  margin-bottom: 57px;
}
.about_text img {
  position: absolute;
}
.about_text2 img,
.about_text4 img {
  top: -25px;
  left: -50px;
}

.about_text3 img {
  top: -70px;
  right: 8px;
}
.about_text3 {
  max-width: 460px;
  margin-bottom: 57px;
}
.about_text4 {
  margin-left: 134px;
}

.about,
.about_content {
  position: relative;
  z-index: 1;
}
.about_img {
  position: absolute;
  right: -80px;
  top: 10px;
}

.discount_form_w {
  padding-top: 92px;
}
.discount_form_w .block_title {
  margin-bottom: 64px;
}

.discount_form {
  margin: 0 auto;
  max-width: 1013px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.discount_form_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 31px;
}

.form {
  border-radius: 31px;
  width: 100%;
  background: rgb(255, 255, 255);
  margin-left: -20px;
  padding: 30px 52px 57px;
}

.form_title p {
  color: rgb(54, 54, 54);
  font-family: SF600;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -1%;
  text-align: left;
  margin-bottom: 24px;
}

.form_item p {
  color: rgb(54, 54, 54);
  font-family: SF400;
  font-size: 17.37px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -1%;
  text-align: left;
  margin-bottom: 14px;
}

.form_item {
  margin-bottom: 24px;
}

.form_item select {
  border-radius: 17px;
  height: 99px;
  width: 100%;
  background: rgb(240, 240, 240);
  border: none;
  padding-left: 28px;
  outline: none;
  color: rgb(54, 54, 54);
  font-family: SF400;
  font-size: 17.37px;
  font-weight: 400;
  line-height: 45.32px;
  letter-spacing: -1%;
  text-align: left;
  cursor: pointer;
}

.form_item textarea {
  border-radius: 17px;
  height: 137px;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  background: rgb(240, 240, 240);
  padding: 37px 28px;
  color: rgb(54, 54, 54);
  font-family: SF400;
  font-size: 17.37px;
  font-weight: 400;
  line-height: 45.32px;
  letter-spacing: -1%;
  text-align: left;
}

.form_item textarea::placeholder {
  color: rgba(54, 54, 54, 0.5);
}

.send_btn {
  box-sizing: border-box;
  border-radius: 27.47px;

  box-shadow: 0px 3.33px 0px 0px rgb(115, 92, 64);
  background: radial-gradient(
      55% 55% at 50% 2%,
      rgba(255, 255, 255, 0.5) 50.611%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      225deg,
      rgb(255, 235, 202) -4.519%,
      rgb(255, 220, 167) 18.458%,
      rgb(255, 217, 160) 51.48%,
      rgb(255, 217, 160) 76.624%,
      rgb(255, 209, 137) 111.949%
    );
  width: 100%;
  height: 106.53px;
  font-size: 17.47px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1px;
  margin-top: 10px;
}

.gift {
  padding-top: 216px;
  padding-bottom: 77px;
  background: url(../assets/images/gift-bg.png);
  background-position: center;
  background-size: calc(123%);
  background-repeat: no-repeat;
}

.gift .block_title {
  margin-bottom: 753px;
}

.discount_timer {
  border-radius: 33px;
  width: 561px;
  height: 229px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 34px 41px 20px 74px;
}

.discount_timer_title {
  color: rgb(54, 54, 54);
  font-family: SF400;
  font-size: 28px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -1%;
  text-align: center;
}

.discount_timer_title {
  margin-bottom: 18px;
}
.timer_numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
}
.timer_num {
  border-radius: 10.69px;
  width: 67.72px;
  height: 76.63px;
  box-shadow: 0px 7.13px 13.9px -3.56px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer_num p {
  color: rgb(18, 18, 18);
  font-family: SF400;
  font-size: 52.67px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}

.timer_numbers span {
  color: rgb(18, 18, 18);
  font-family: SF400;
  font-size: 24.95px;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}
.timers_time_names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 33px;
}

.timers_time_names p {
  color: rgb(18, 18, 18);
  font-family: SF300;
  font-size: 24.95px;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}

.timers_time_names p:nth-last-child(2) {
  margin-right: -14px;
}

.discount_timer {
  margin-bottom: 47px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn .header_btn {
  width: 464px;
  height: 119.98px;
  font-size: 19.67px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1px;
}

.contact_form_w {
  padding-top: 96px;
  padding-bottom: 65px;
}
.contact_form_container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 71px;
  position: relative;
}

.contact_form {
  max-width: 551px;
  position: relative;
  height: 670px;
  padding: 39px 55px 84px;
  z-index: 111;
}
.contact_form .form_title p {
  color: rgb(54, 54, 54);
  font-family: SF600;
  font-size: 33.97px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1%;
  text-align: center;
  margin-bottom: 44px;
}

.form_item input {
  outline: none;
  border-radius: 18.05px;
  border: none;
  background: rgb(240, 240, 240);
  height: 105.1px;
  width: 100%;
  padding-left: 30px;
  color: rgb(54, 54, 54);
  font-family: SF400;
  font-size: 18.44px;
  font-weight: 400;
  line-height: 48.12px;
  letter-spacing: -1%;
  text-align: left;
}
.form_item input::placeholder {
  color: rgba(54, 54, 54, 0.5);
}

.contact_form_container {
  display: flex;
}

.contacts_img {
  position: absolute;
  bottom: -14px;
  right: 7px;
}
.contacts_img_img {
  position: relative;
  z-index: 11;
}
.badge_img {
  position: absolute;
  right: -95px;
  top: 170px;
}
.top_line_ic {
  display: none;
}
.footer_wrapper {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background: rgb(22, 22, 36);
  padding: 41px 0 35px;
}

.adress p {
  color: rgb(255, 255, 255);
  font-family: SF600;
  font-size: 13px;
  font-weight: 500;
  line-height: 133.76%;
  letter-spacing: -3%;
  text-align: left;
}
.adress span {
  font-family: SF400;
}

.adress div {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 6px;
}
.policy p {
  color: rgb(255, 255, 255);
  font-family: SF400;
  font-size: 15px;
  font-weight: 300;
  line-height: 133.76%;
  letter-spacing: -3%;
  text-align: left;
  text-decoration-line: underline;
  margin-bottom: 7px;
}

.policy span {
  color: rgba(255, 255, 255, 0.5);
  font-family: SF400;
  font-size: 15px;
  font-weight: 300;
  line-height: 133.76%;
  letter-spacing: -3%;
  text-align: left;
}

.swiper_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.swiper_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  cursor: pointer;
  background: linear-gradient(
    225deg,
    rgb(255, 235, 202) -4.696%,
    rgb(255, 220, 167) 18.242%,
    rgb(255, 217, 160) 51.209%,
    rgb(255, 217, 160) 76.311%,
    rgb(255, 209, 137) 111.576%
  );
  border-radius: 50%;
}

.main_wrapper {
  overflow: hidden;
  width: 100%;
}

.menu_btn {
  display: none;
}
.about_mob {
  display: none;
}
.discount_form_img_mob {
  display: none;
}
.contact_img_mob {
  display: none;
}
.adress_w a {
  display: none;
}

.circle_bg {
  background: url(../assets/images/btm-bg.png);
  background-position: center;
  position: relative;
  background-size: cover;
}

.circle_bg_w {
  position: relative;
  background: url(../assets/images/bg-circle.png);
}
.discount_bg {
  background: url(../assets/images/trade-bg.png);
  background-position: center;
  position: relative;
  background-size: cover;
}

.about_bg {
  background: url(../assets/images/about-bg.png);
  background-position: center;
  position: relative;
  background-size: cover;
}

.top_bg {
  background: url(../assets/images/adv-bg.png);
  background-position: top;
  background-repeat: no-repeat;

  position: relative;
}
.top_bg::before,
.about_bg::before,
.discount_bg::before,
.circle_bg_w::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.top_bg > *,
.about_bg > *,
.discount_bg > *,
.circle_bg_w > * {
  position: relative;
  z-index: 2;
}

.mob_img {
  display: none !important;
}

@media only screen and (max-width: 1150px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1080px) {
  .header_promos {
    top: -200px;
  }

  .contact_form_container,
  .discount_form {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .nav_logo img {
    width: 97px;
  }
  .nav_wrapper {
    padding-top: 26px;
  }
  .nav_wrapper .nav_calc_btn {
    display: none;
  }
  .nav_right {
    gap: 15px;
  }
  .nav_right .tg_icon img {
    width: 16px;
  }
  .nav_right .call_btn {
    display: none;
  }
  .menu_btn {
    display: flex;
  }
  .nav_wrapper {
    margin-bottom: 30px;
  }

  .header_title h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 130.5%;
    letter-spacing: -2%;
    max-width: 278.36px;
    margin: 0 auto;
  }

  .header_title p {
    font-size: 16px;
    font-weight: 600;
    line-height: 25.9px;
    letter-spacing: -1%;
    margin: 0 auto;
    max-width: 268px;
    margin-top: 14px;
  }
  .header_actions {
    margin-top: 260px;
    display: flex;
    flex-direction: column-reverse;
  }
  .header_promos {
    position: static;
    gap: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin-bottom: 4px;
  }
  .header_promos .promo_btn:nth-child(1) {
    margin: 0;
  }
  .header_promos .promo_btn {
    width: 104.54px !important;
    height: 38.63px !important;
    font-size: 11.13px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -2%;
    border-radius: 8px !important;
  }
  .promo_btn .circle {
    display: none;
  }

  .header_btn {
    box-sizing: border-box;
    border-radius: 15.57px;

    box-shadow: 0px 1.89px 0px 0px rgb(115, 92, 64);
    background: radial-gradient(
        55% 55% at 50% 2%,
        rgba(255, 255, 255, 0.5) 50.611%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        225deg,
        rgb(255, 235, 202) -4.528%,
        rgb(255, 220, 167) 18.446%,
        rgb(255, 217, 160) 51.466%,
        rgb(255, 217, 160) 76.607%,
        rgb(255, 209, 137) 111.929%
      );
    font-size: 9.9px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1px;
    width: 196.85px;
    height: 60.38px;
  }

  header {
    height: auto;
    padding-bottom: 50px;
  }
  .advantages {
    padding-top: 46px;
  }
  .block_title {
    padding: 0 20px;
  }
  .block_title h3,
  .block_title h2 {
    font-size: 18px;
    line-height: 130%;
  }
  .block_title h3 {
    margin-bottom: 15px;
  }
  .advantages .block_title {
    margin-bottom: 30px;
  }
  .adv_cards .swiper-slide {
    width: 182px !important;
  }
  .adv_card {
    box-sizing: border-box;
    border-radius: 21.42px;
    height: 250px;
    background: url(../assets/images/cards-bg-mob.png);
    background-size: cover;
    background-position: center;
    padding: 15px;
  }
  .adv_card img {
    width: 100%;
    height: 92px;
    object-fit: cover;
    border-radius: 19.73px;
    margin-bottom: 15px;
  }
  .adv_card h4 {
    font-size: 13.53px;
    font-weight: 600;
    line-height: 144%;
    letter-spacing: 0%;
    margin-bottom: 11px;
  }

  .adv_card p {
    font-size: 10.15px;
    font-weight: 400;
    line-height: 144%;
    letter-spacing: 0%;
  }
  .adv_cards {
    margin-bottom: 22px;
  }
  .swiper_btns {
    gap: 23px;
  }
  .swiper_btn {
    width: 43.66px;
    height: 43.66px;
  }
  .swiper_btn img {
    width: 18px;
  }
  .popular_models {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .title_sec p {
    font-size: 15.62px;
    font-weight: 400;
    line-height: 144%;
    letter-spacing: 0%;
  }
  .title_sec img {
    display: none;
  }
  .popular_models .title_sec {
    margin-bottom: 23px;
  }
  .popular_card {
    width: 48%;
    height: auto;
    border-radius: 14.82px;
    padding-bottom: 11px;
    background: url(../assets/images/cards-bg-2-mob.png);
    background-size: cover;
    background-position: center;
  }
  .popular_cards {
display: flex;
align-items: center;
flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
  }
  .popular_card_img {
    height: 135px;
  }
  .popular_card_img img {
    height: 100%;
  }
  .popular_card_desc p {
    font-size: 9.11px;
    font-weight: 400;
    line-height: 12.6px;
    margin-bottom: 2px;
    letter-spacing: -1%;
  }

  .popular_card_desc h5 {
    font-size: 14.82px;
    font-weight: 400;

    line-height: 24.11px;
    letter-spacing: -1%;
  }
  .booking_btn {
    height: 26.92px;
    font-size: 5.85px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 13.52px;
    box-shadow: 0px 0.85px 0px 0.39px rgb(34, 34, 69);
    background: url(../assets/images/bgt-bg-mob.png);
    background-position: center;
    background-size: cover;
  }
  .popular_card_desc {
    padding: 0 13px;
  }
  .popular_card_desc h5 {
    margin-bottom: 9px;
  }

  .catalogue_btn {
    margin-top: 30px;
  }

  .catalogue_btn .header_btn {
    width: 231.15px;
    height: 59.77px;
    border-radius: 15.41px;
  }
  .about_img {
    display: none;
  }

  .about {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .about_content {
    padding: 0;
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about_text p {
    font-size: 14px;
    text-align: center;
  }
  .about_text1 img {
    display: none;
  }
  .about_text2 {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 35px;
  }
  .about_text1 {
    margin-bottom: 35px;
  }
  .about_text4 {
    margin-left: 0;
    margin-bottom: 0;
  }
  .about_text {
    margin-bottom: 36px;
  }
  .about_text2 img,
  .top_line_ic {
    height: 57px;
    top: auto;
    bottom: -20px;
  }

  .about_text3 img {
    position: absolute;
    height: 57px;
    bottom: -30px;
  }

  .top_line_ic,
  .about_text3 img {
    left: -20px !important;

    bottom: -20px !important;
    top: auto;
  }
  .top_line_ic {
    display: flex !important;
  }
  .about_text4 img {
    display: none;
  }
  .des_img {
    display: none;
  }
  .mob_img {
    display: flex !important;
  }
  .about_text2 .mob_img {
    right: 0;
    left: auto;
    height: 32.35px;
  }
  .about_mob {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about_mob img {
    max-width: 260px;
  }
  .discount_form_w {
    padding-top: 42px;
  }

  .discount_form_w .block_title {
    margin-bottom: 36px;
  }
  .discount_form {
    display: flex;
    flex-direction: column-reverse;
  }

  .form {
    width: 100%;
    margin: 0;
    padding: 16px 28px 31px;
    border-radius: 17.24px;
  }
  .discount_form {
    padding-left: 0;
    padding-right: 0;
  }
  .form_title p {
    font-size: 16.68px;
    font-weight: 600;
    line-height: 22.24px;
    letter-spacing: -1%;
    margin-bottom: 13px;
  }

  .form_item p {
    font-size: 9.66px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: -1%;
    margin-bottom: 8px;
    line-height: 15px;
  }
  .form_item select {
    height: 55.05px;
    padding-left: 15px;
    font-size: 9.66px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: -1%;
    border-radius: 9.45px;
  }
  .form_item {
    margin-bottom: 13px;
  }

  .form_item textarea {
    border-radius: 9.45px;
    height: 76.18px;
    font-size: 9.66px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: -1%;
    padding: 20px 15px;
    background: rgb(240, 240, 240);
  }
  .send_btn {
    width: 100%;
    margin: 0;
  }
  .discount_form_img {
    border-radius: 17.26px;
    display: none;
  }
  .discount_form_img_mob {
    display: flex;
    margin-top: -35px;
  }
  .form {
    position: relative;
  }

  .gift {
    padding-top: 75px;
    padding-bottom: 45px;
  }
  br {
    display: none;
  }
  .gift .block_title {
    margin-bottom: 303px;
  }

  .discount_timer {
    border-radius: 16.43px;

    background: rgb(255, 255, 255);
    width: 100%;
    height: auto;

    padding: 17px 28px 10px 29px;
    margin-bottom: 23px;
  }
  .discount_timer_title {
    margin-bottom: 9px;
    font-size: 13.94px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1%;
  }
  .timer_num {
    border-radius: 5.32px;
    width: 33.71px;
    height: 38.14px;
    box-shadow: 0px 3.55px 6.92px -1.77px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
  }
  .timer_num p {
    font-size: 26.22px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
  }

  .timers_time_names p {
    font-size: 12.42px;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0%;
  }
  .timers_time_names {
    padding: 0 17px;
  }
  .btn,
  .btn a {
    width: 100%;
  }
  .btn .header_btn {
    width: 100%;
    border-radius: 15.4px;
    height: 59.72px;
    font-size: 9.79px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1px;
    text-align: center;
  }
  .gift {
    background: url(../assets/images/gift-bg-mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .contact_form_w {
    padding-top: 35px;
    padding-bottom: 67px;
  }

  .contact_form_container,
  .discount_form {
    padding: 0;
  }

  .contact_form {
    height: auto;
  }

  .contact_form .form_title p {
    font-size: 17.85px;
    font-weight: 600;
    line-height: 25.22px;
    letter-spacing: -1%;
    margin-bottom: 23px;
  }
  .form_item input {
    border-radius: 9.48px;
    padding-left: 15px;
    height: 55.21px;
    background: rgb(240, 240, 240);
    font-size: 9.69px;
    font-weight: 400;
    line-height: 25.28px;
    letter-spacing: -1%;
  }
  .contact_form_container {
    flex-direction: column-reverse;
  }
  .contacts_img {
    display: none;
  }
  .contact_img_mob {
    display: flex;
  }
  .contact_form_container {
    margin-top: 0;
  }
  .contact_form {
    margin-top: -100px;
  }

  footer {
    padding: 18px 0 30px;
  }
  .footer_wrapper {
    flex-direction: column;
    gap: 33px;
  }
  .footer_logo img {
    width: 160px;
  }
  .adress p {
    font-size: 8.64px;
    font-weight: 500;

    letter-spacing: -3%;
  }
  .policy span {
    font-size: 10.29px;
    font-weight: 300;

    letter-spacing: -3%;
  }

  .policy p {
    font-size: 10.29px;
    font-weight: 300;
    line-height: 133.76%;
    letter-spacing: -3%;
    margin-bottom: 4px;
  }
  .footer_tg {
    display: none;
  }
  .adress_w {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .adress_w a img {
    width: 29px;
    height: 29px;
  }
  .adress_w a {
    display: flex;
  }
  header {
    background: url(../assets/images/header-bg-mob.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .circle_bg,
  .circle_bg_w,
  .circle_bg {
    background: none;
  }

}

@media only screen and (max-width: 330px) {
  .header_actions {
    margin-top: 180px;
  }
  header {
    background-size: contain;
  }
}
